body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

.contain {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.contain .title-product img {
  width: 30%;
  height: 30%;
}

.contain .title-product {
  width: 40%;
  height: 40%;
}

.contain .title-product h1 {
  color: #21568a;
  /* position: absolute; */
  width: 367px;
  height: 31px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16.1556px;
  line-height: 24px;
}

.contain .body-right {
  width: 40%;
  height: 40%;
}

.contain .body-right h1 {
  /* position: absolute; */
  width: 389px;
  height: 81px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;

  color: #21568a;
}

builder-component {
  max-width: none !important;
}
.div {
  display: flex;
  max-width: 100%;

  flex-direction: column;
}
.div-2 {
  width: 100%;
  z-index: 10;
  margin-top: -5px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-right: 5px;
  }
}
.div-3 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-4 {
  display: flex;
  flex-direction: column;
  color: rgba(33, 86, 138, 1);
  font: 600 16px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.trang-chủ-ban-phim-gaming {
  align-self: start;
  margin-left: 90px;
  margin-top: 20px;
}
.img {
  aspect-ratio: 2.4;
  object-fit: contain;
  object-position: center;
  width: 87%;
  align-self: end;
  margin-top: 49px;
  margin-right: 0px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img {
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 100%;
  margin-left: 100px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-5 {
  display: flex;
  margin-top: 52px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: rgba(8, 16, 125, 1);
  font: 600 17px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    margin-top: 40px;
  }
}
.logitech-g-pro-x-mechanical-gaming-keyboard {
  color: rgba(33, 86, 138, 1);
  font-size: 35px;
  align-self: stretch;
}
.price3-290-000-d {
  color: rgba(173, 5, 5, 1);
  font-size: 25px;
  margin-top: 12px;
}
.ban-phim-gaming {
  font-size: 20px;
  margin-top: 26px;
}
.hang-logitech {
  font-size: 20px;
  margin-top: 21px;
}
.div-6 {
  display: flex;
  margin-top: 25px;
  gap: 40px 41px;
  font-size: 20px;
  text-align: center;
}
.div-7 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  width: 109px;
  height: 27px;
  border: 1px solid rgba(8, 16, 125, 1);
}
.them-vao-giỏ-hang {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 21px;
  color: rgba(197, 0, 3, 1);
  text-align: center;
  padding: 9px 21px;
  border: 1px solid rgba(197, 0, 3, 1);
}
@media (max-width: 991px) {
  .them-vao-giỏ-hang {
    padding: 0 20px;
  }
}
.img-2 {
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: end;
  margin-top: 12px;
  max-width: 939px;
}
@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
  }
}

builder-component {
  max-width: none !important;
}
.div1 {
  margin-left: 80px;
  display: flex;
  max-width: 937px;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.chi-tiết-sản-phẩm {
  color: rgba(33, 86, 138, 1);
  font-size: 24px;
  align-self: start;
  z-index: 10;
  margin-top: -5px;
}
.mo-tả-sản-phẩm-thiết-kế-khong-co-ban-phim-số-lấy-cảm-hứng-từ-chuyen-gia-cac-phim-switch-cơ-học-người-dung-co-thể-thao-rời-loại-sw-gx-blue-chiếu-sang-lightsync-rgb-cac-tinh-nang-nang-cao-hub-g-của-logitech-co-sẵn-dể-tải-về-tại-logitechg-com-ghub-day-cap-co-thể-thao-rời-1-8-m-12-phim-f-co-thể-lập-trinh-bảo-hanh-24-thang-dược-thiết-kế-cho-cac-chuyen-gia-thiết-kế-pro-x-da-dược-chứng-minh-trong-thi-dấu-nay-với-cac-phim-switch-gx-cấp-dộ-chuyen-nghiệp-co-thể-hoan-dổi-giới-thiệu-ban-phim-chơi-game-cơ-học-co-thể-tuy-chỉnh-dược-chế-tạo-cho-cac-vận-dộng-vien-thể-thao-diện-tử-hang-dầu-thế-giới-cac-phim-switch-cấp-dộ-chuyen-nghiệp-người-dung-co-thể-hoan-dổi-cac-phim-switch-cơ-học-gx-nang-cao-dược-thiết-kế-va-thử-nghiệm-100-cho-hiệu-suất-phản-hồi-va-dộ-bền-tuy-chỉnh-cảm-giac-về-ban-phim-pro-x-của-bạn-với-cac-phien-bản-phim-switch-co-thể-thao-rời-nhỏ-gọn-sieu-di-dộng-thiết-kế-rut-gọn-khong-co-ban-phim-số-tạo-nhiều-khong-gian-cho-con-chuột-của-bạn-chuyển-dộng-thiết-kế-nhỏ-gọn-bền-bỉ-cung-giup-no-dễ-mang-di-tới-cac-cuộc-thi-dấu-tren-khắp-thế-giới-lightsync-rgb-neu-bật-cac-phim-quan-trọng-hay-chỉ-thể-hiện-sự-thống-nhất-với-nhom-của-bạn-tuy-chỉnh-anh-sang-va-hinh-dộng-bằng-phần-mềm-logitech-hub-g-ban-phim-pro-cho-phep-bạn-lưu-thiết-kế-anh-sang-tinh-vao-bộ-nhớ-trong-dể-sử-dụng-tren-cac-hệ-thống-thi-dấu-cac-tinh-nang-nang-cao-yeu-cầu-phần-mềm-chơi-game-hub-g-của-logitech-co-sẵn-dể-tải-về-tại-logitechg-com-hubg-cap-thao-rời-dược-day-micro-usb-co-thể-thao-rời-ra-dể-vận-chuyển-an-toan-trong-tui-du-lịch-va-co-thiết-kế-ba-chạc-giup-kết-nối-an-toan-ổn-dịnh-2-macro-phim-f-co-thể-lập-trinh-lập-trinh-cac-hanh-dộng-phức-tạp-hẹn-giờ-hoặc-ra-lệnh-cho-cac-phim-từ-f-1-f-12-bằng-logitech-hub-g-thong-số-kỹ-thuật-thực-tế-chiều-cao-34-mm-chiều-rộng-361-mm-chiều-day-153-mm-phim-switch-gx-blue-khoảng-cach-hanh-trinh-2-0-mm-lực-nhấn-50-g-tổng-khoảng-cach-hanh-trinh-3-7-mm {
  color: rgba(0, 0, 0, 1);
  font-size: 17px;
  margin-top: 21px;
}
@media (max-width: 991px) {
  .mo-tả-sản-phẩm-thiết-kế-khong-co-ban-phim-số-lấy-cảm-hứng-từ-chuyen-gia-cac-phim-switch-cơ-học-người-dung-co-thể-thao-rời-loại-sw-gx-blue-chiếu-sang-lightsync-rgb-cac-tinh-nang-nang-cao-hub-g-của-logitech-co-sẵn-dể-tải-về-tại-logitechg-com-ghub-day-cap-co-thể-thao-rời-1-8-m-12-phim-f-co-thể-lập-trinh-bảo-hanh-24-thang-dược-thiết-kế-cho-cac-chuyen-gia-thiết-kế-pro-x-da-dược-chứng-minh-trong-thi-dấu-nay-với-cac-phim-switch-gx-cấp-dộ-chuyen-nghiệp-co-thể-hoan-dổi-giới-thiệu-ban-phim-chơi-game-cơ-học-co-thể-tuy-chỉnh-dược-chế-tạo-cho-cac-vận-dộng-vien-thể-thao-diện-tử-hang-dầu-thế-giới-cac-phim-switch-cấp-dộ-chuyen-nghiệp-người-dung-co-thể-hoan-dổi-cac-phim-switch-cơ-học-gx-nang-cao-dược-thiết-kế-va-thử-nghiệm-100-cho-hiệu-suất-phản-hồi-va-dộ-bền-tuy-chỉnh-cảm-giac-về-ban-phim-pro-x-của-bạn-với-cac-phien-bản-phim-switch-co-thể-thao-rời-nhỏ-gọn-sieu-di-dộng-thiết-kế-rut-gọn-khong-co-ban-phim-số-tạo-nhiều-khong-gian-cho-con-chuột-của-bạn-chuyển-dộng-thiết-kế-nhỏ-gọn-bền-bỉ-cung-giup-no-dễ-mang-di-tới-cac-cuộc-thi-dấu-tren-khắp-thế-giới-lightsync-rgb-neu-bật-cac-phim-quan-trọng-hay-chỉ-thể-hiện-sự-thống-nhất-với-nhom-của-bạn-tuy-chỉnh-anh-sang-va-hinh-dộng-bằng-phần-mềm-logitech-hub-g-ban-phim-pro-cho-phep-bạn-lưu-thiết-kế-anh-sang-tinh-vao-bộ-nhớ-trong-dể-sử-dụng-tren-cac-hệ-thống-thi-dấu-cac-tinh-nang-nang-cao-yeu-cầu-phần-mềm-chơi-game-hub-g-của-logitech-co-sẵn-dể-tải-về-tại-logitechg-com-hubg-cap-thao-rời-dược-day-micro-usb-co-thể-thao-rời-ra-dể-vận-chuyển-an-toan-trong-tui-du-lịch-va-co-thiết-kế-ba-chạc-giup-kết-nối-an-toan-ổn-dịnh-2-macro-phim-f-co-thể-lập-trinh-lập-trinh-cac-hanh-dộng-phức-tạp-hẹn-giờ-hoặc-ra-lệnh-cho-cac-phim-từ-f-1-f-12-bằng-logitech-hub-g-thong-số-kỹ-thuật-thực-tế-chiều-cao-34-mm-chiều-rộng-361-mm-chiều-day-153-mm-phim-switch-gx-blue-khoảng-cach-hanh-trinh-2-0-mm-lực-nhấn-50-g-tổng-khoảng-cach-hanh-trinh-3-7-mm {
    max-width: 100%;
  }
}

.line {
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.slogan-bar {
  background-color: #21568a;
  height: 30px;
  display: flex;
}

.slogan {
  width: 100%;
  text-align: center;
  margin: 6px;
}

.logo {
  position: absolute;
  height: 30px;
}

.header_icon {
  width: 24px;
  height: 24px;
}

.header_row {
  background-color: var(--white_a700);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  padding: var(--space-xs) 4px;
  margin: auto;
}

.header_bottom {
  flex: 1;
  gap: 100px;
  display: flex;
  justify-content: center;
  padding-left: 52px;
  height: 60px;
  /* background-color: red; */
}

.user {
  height: 100%;
  width: 50%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.user > img {
  width: 24px;
  height: 24px;
}

.user-name > p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-left: 10px;
}

.links {
  margin-top: 10px;
  gap: 50px;
  display: flex;
  margin-left: 30px;
}

.links > a {
  text-decoration: none;
  color: #21568a;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  display: block;
  width: 100px;
  height: 100px;
}

.search1 {
  width: 100%;
  margin-right: 0px;
}
.search1 input[type="text"] {
  margin-left: 100px;
  background-color: #f2e9e9;
  border-style: none;
  border-radius: 10px;
  width: 50%;
  height: 70%;
  margin-top: 10px;
  position: relative;
  right: 150px;
}

.search1 input[placeholder] {
  font-size: 16px;
  color: #504e4e;
  font-family: Itim;
  padding-left: 30px;
  font-weight: 0;
}

.search1 .cart {
  width: 24px;
  height: 24px;
  position: relative;
  left: 250px;
}

.search1 img {
  width: 18px;
  height: 18px;
  position: relative;
  left: 10px;
  top: 5px;
  z-index: 99;
}
