body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.header {
    background-color: #1e3a8a;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo-container img {
    height: 50px;
}

.header .nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.header .search-container input {
    padding: 5px;
    border: none;
    border-radius: 4px;
}

.order-summary {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-items ul {
    list-style-type: none;
    padding: 0;
}

.order-items li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.product-image {
    width: 500px;
    height: 200px;
    margin-right: 20px;
    padding: 0;
}

.product-name {
    font-weight: bold;
    flex-grow: 1;
}

.product-price {
    color: #e74c3c;
    font-weight: bold;
    margin: 0px 0px 8px 50px;
}

.order-total {
    text-align: right;
    margin-top: 20px;
}

#totalPrice {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.giam_gia{
    text-align: right;
    margin-top: 20px;
    position: relative;
}

.back-button-container {
    text-align: left;
    margin-left: 180px; /* Adjust left margin if necessary */
}

.back-button:hover {
background-color: #45a049; /* Slightly darker green */
}

.back-button:active {
background-color: #39843b; /* Even darker green on click */
}